<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<script src="EventUtil.js"></script>
<script type="text/javascript">

var inputFile=function() {                                     
	var load=document.getElementById("load"),
	     output=document.getElementById("output"),
	     filelist=document.getElementById("file"),
	     reader=new FileReader(),
	     type="default";
	EventUtil.addHandler(filelist, "change", function(event) {         //EventUtil.addHandler
		var files=EventUtil.getTarget(event).files;              //files
		if(/image/.test(files[0].type)) {//"   " duo yu
			reader.readAsDataURL(files[0]);  //url is wrong ,URL is right
			type="image";
		}
		else
		{
			reader.readAsText(files[0]);
			type="text";
		}
	
		reader.onerror=function() {
			output.innerHTML="sorry, there is a mistake, errorCode is"+reader.error.code;
		};
		reader.onprogress=function(event) {// give the function a  canshu
		      if (event.lengthComputable)
			load.innerHTML=event.loaded+"/"+event.total;
		};
		reader.onload=function() {
			var html="";
			switch(type) {
				case "image":
				html="<image src=\""+reader.result+"\">";
				break;
				case "text":
				html=reader.result;//reader  not read	
				break;
			}
			output.innerHTML=html;
		};
	}
	)
}
</script>
</head>
<body>
<p>please input your file at here：</p>
<input type="file" id="file" onclick=inputFile()>
<pre id="load"></pre>
<div id="output"></div>
</body>
</html>