*{ margin: 0; padding:0;}
.prize_wrap{
	width: 300px;
	height: 150px;
}
.prize_wrap .active{	
	position: absolute;
	width: 100px;
	height: 50px;
	background: #f00;
	line-height: 50px;
	text-align: center;
	border:solid 1px #999;
	margin:-1px;
}
.prize_cell,
.prize_btn{
	position: absolute;
	background:#ccc;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.prize_btn{
	background:#f0f;
	cursor: pointer;
}