<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="x.css" />
    <style>
    #info{
    	padding: 10px;
    	color: red;
    }
    </style>
</head>

<body>
    <div class="prize_wrap" id="prize_wrap">
        <div class="prize_cell" style="left:0;top:0">1</div>
        <div class="prize_cell" style="left:100px;top:0">2</div>
        <div class="prize_cell" style="left:200px;top:0">3</div>
        <div class="prize_cell" style="left:200px;top:50px">4</div>
        <div class="prize_btn" style="left:100px;top:50px" id="prize_start">抽奖开始</div>
        <div class="prize_cell" style="left:200px;top:100px">5</div>
        <div class="prize_cell" style="left:100px;top:100px">6</div>
        <div class="prize_cell" style="left:0;top:100px">7</div>
        <div class="prize_cell" style="left:0;top:50px">8</div>
    </div>
    <div id="info"></div>
    <script type="text/javascript" src="x.js"></script>
</body>

</html>
